<h1>Libros en la base de datos</h1>

<%= if Enum.empty?(@books) do %>
  <p>No hay libros registrados.</p>
<% else %>
  <ul>
    <%= for book <- @books do %>
    <li>
      <strong><%= book["title"] %></strong> - <%= book["author"] %> (<%= book["year"] %>)
      <.link navigate={~p"/books/#{BSON.ObjectId.encode!(book["_id"])}/reviews"}>Ver reviews</.link>
    </li>
    <% end %>
  </ul>
<% end %>