<h1>Bienvenido a la entrega 1 de Architecture!</h1>
<p>Selecciona una sección:</p>

<div style="display: flex; gap: 1rem;">
  <a href="/authors">
    <button style="padding: 0.5rem 1rem;">Ver Autores</button>
  </a>

  <a href="/books">
    <button style="padding: 0.5rem 1rem;">Ver Libros</button>
  </a>

  <a href="/reviews">
    <button style="padding: 0.5rem 1rem;">Ver Reseñas</button>
  </a>

  <a href="/sales">
    <button style="padding: 0.5rem 1rem;">Ver Ventas</button>
  </a>
</div>
